body {
    padding: 0;
    margin: 0;
    margin-left: 5%; margin-right: 5%;
    font-family: "Montserrat", sans-serif;
    background-color: #aaa;
}

.createPannel {
    display: flex; flex-direction: row;
}

#UI {
    display: flex; 
    position: absolute;
    background-color: #00000055;
    position: absolute; top: 0; left: 0;
    width: 100%; height: 100%;
    align-items: center; justify-content: center;
}
#modifyData {
    display: none;
    position: relative;
    padding-top: 15px;
    padding-left: 15px; margin-left: 10px; padding-bottom: 10px;
    justify-content: center; align-items: flex-start;
    flex-direction: column;
    background-color: #fff;
    width: 80%; min-height: 50%;
    border-radius: 5px;
}
#welcomeMenu {
    display: flex;
    position: relative;
    padding-top: 15px;
    padding-left: 15px; margin-left: 10px; padding-bottom: 10px;
    justify-content: center; align-items: flex-start;
    flex-direction: column;
    background-color: #fff;
    width: 80%; min-height: 50%;
    border-radius: 5px;
}
#settingsMenu {
    display: none;
    position: relative;
    padding-top: 15px;
    padding-left: 15px; margin-left: 10px; padding-bottom: 10px;
    justify-content: center; align-items: flex-start;
    flex-direction: column;
    background-color: #fff;
    width: 80%; min-height: 50%;
    border-radius: 5px;
}
#projectCreator {
    display: none;
    position: relative;
    padding-top: 15px;
    padding-left: 15px; margin-left: 10px; padding-bottom: 10px;
    justify-content: center; align-items: flex-start;
    flex-direction: column;
    background-color: #fff;
    width: 70%; min-height: 30%;
    border-radius: 5px;
}
#projectCreator p {
    margin-top: 0;
    margin-bottom: 0;
}
#displayLoader {
    display: none; justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: #fff;
    padding-left: 5%; padding-right: 5%;
    width: 70%; height: 50%;
}
#statusPicker {
    display: none; justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: #fff;
    padding-left: 5%; padding-right: 5%;
    width: 70%; height: 50%;
}
#taskEditor {
    display: none;
    position: relative;
    padding-top: 15px;
    padding-left: 15px; margin-left: 10px; padding-bottom: 10px;
    justify-content: center; align-items: flex-start;
    flex-direction: column;
    background-color: #fff;
    width: 50%; min-height: 25%;
    border-radius: 5px;
}
#chapEditor {
    display: none;
    position: relative;
    padding-top: 15px;
    padding-left: 15px; margin-left: 10px; padding-bottom: 10px;
    justify-content: center; align-items: flex-start;
    flex-direction: column;
    background-color: #fff;
    width: 50%; min-height: 25%;
    border-radius: 5px;
}

#project-meta {
    color: #333; background: linear-gradient(to bottom, #eee, #bbb);
    margin-top: 5px;
    padding-left: 5%; padding-right: 5%; padding-bottom: 10px; padding-top: 1px;
    border-radius: 10px;
}

#project {
    display: flex; flex-direction: row; overflow: auto;
    padding-bottom: 10px;
    scrollbar-width:20px;
    scrollbar-color: grey lightgray;
    align-items: flex-start;
}

#addTask {
    color: #fff;
    font-weight: 600; font-size: 40px;
    cursor: pointer;
    display: flex; align-items: center; justify-content: center;
    width: 100%; height: 50px; margin-left: -5px; padding-right: 5px;
    background: linear-gradient(to bottom, #00000088, #00000000);
    border-radius: 0 0 5px 5px;
}

h2 {
    font-size: 10px;
}

#project-container {
    margin-right: 5px;
    display: flex; width: 15%; min-width: 80px; max-width: 150px; flex-direction: column; 
    padding-left: 5px;
    background-color: #888;
    border-radius: 5px;
}

.breakChap {
    cursor: pointer;
    margin-right: 10px; margin-left: 5px;
    min-width: 3px; height: 0; background-color: #777;
}

.notesChap {
    cursor: pointer;
    margin-right: 5px;
    padding-top: 5px; padding-bottom: 5px; padding-left: 5px; padding-right: 5px;
    font-size: 12px; font-weight: 700; color: #ddd;
    display: flex; width: 15%; max-width: 80px; flex-direction: column; 
    
    background-color: #331100;
    border-radius: 5px;
}

#chapters {
    cursor: pointer;
    display: flex; justify-content: space-between; width: 100%;
}

#addChap {
    cursor: pointer;
    margin-right: 5px;
    display: flex; min-width: 50px; flex-direction: column; 
    font-size: 25px; font-weight: 600; color: #fff;
    align-items: center; justify-content: center;
    background-color: #858585;
    border-radius: 5px;
}


.statusIcon {
    background-color: red;
    width: 10px; border-radius: 20px;
    border-radius: 20px;
}

#task {
    display: flex; padding-right: 5px;
    font-size: 15px; font-weight: 500;
    padding-left: 10px; margin-left: -5px;
    padding-top: 5px; padding-bottom: 5px;
    background: linear-gradient(to bottom, #00000088, #00000000);
    justify-content: space-between;
}

#task p {
    cursor: pointer;
}

